
<div class="row"> 
    <div class="col-xs-6">
    <% @posts.each do |post| %>
        <div class=" panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
          </div>
          <div class="panel-body">
            
                <a href="<%= post_url(post) %>"><%= image_tag(post.image.profile_size.url) %></a>
                <h2><%= link_to post.title, post %></h2>
                <%= post.description %><br>     
                No of likes : <%= post.likes %>
                <%= link_to "upvote", like_link_path(post), method: :put %>
          </div>
        </div> <% end %>
    </div>
    <div class="col-xs-1"></div>
    <% if !session[:user_id].nil? %>
    <div class="span3 col-xs-5">
     <div class="side-bar"> 
           <div class="ls_profile ls_blue">
               <div> 
               <div class="col-xs-4">
                    <img class="img-size" src="https://www.google.co.in/images/srpr/logo11w.png">
                </div>
                <div class="col-xs-8 ls_profile_info">
                    <h3 class="size"><a href="#"><%= User.find(session[:user_id]).username %></a></h3>
                    <p>Points : 0</p>
                    <p>Total Views : 0</p>
                </div>
           </div>
                <div class="clearfix"></div>
           </div>
       </div>
    </div>
    <% end %>
</div>    
