<script type="text/javascript">

  function change(userid,postid,index){

    var butt = document.getElementById("like_button"+index.toString());
    if (butt.value=="Like"){
      $.post("/api/check",
            {
                user_id: userid,
                post_id: postid
            },
            function(data, status){
                if(data==1){
                   butt.value = "Unlike";
                }
                else{
                    $.post("/api/like",
                        {
                            user_id: userid,
                            post_id: postid
                        },
                        function(data, status){
                            butt.value = "Unlike";
                        });   
                }
            });
    }
    else {
      butt.value = "Like";
      $.post("/api/unlike",
          {
              user_id: userid,
              post_id: postid
          },
          function(data, status){
          }); 
    }
  };
</script>
<script>
  history.pushState(null, null, location.href);
  window.onpopstate = function(event) {
      history.go(1);
  };  
</script>



    <div class="col-xs-6">
    <% @posts.reverse.each_with_index do |post,index| %>
        <div class=" panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"><%= link_to post.title, post %></h3>
          </div>
          <div class="panel-body">
                <div class="row">
                  <div class="col-xs-6">
                    <a href="<%= post_url(post) %>">
                      <% link = post.image.to_s.split('/').last %>
                      <% newlink = 'http://chashmeetsingh.com/iamprogrammer/post/image/'+post.id.to_s+'/'+link %>
                        <%= image_tag  newlink, size: '300x300',class: "img-responsive" %>
                    </a>
                  </div>
                  <div class="col-xs-1"></div>
                  <div class="col-xs-5">  
                    <%= post.hash_tag %><br>  
                    <a href="/profile/<%= post.user.username %>">@<%= post.user.username %></a><br>
                        <% if Like.find_by(:post_id=>post.id,:user_id=>session[:user_id]) %>
                          <% stat = "Unlike" %>
                        <% else %>
                          <% stat = "Like" %>
                        <% end %>
                  <% if !session[:user_id].nil? %>
                  <% count = Like.where(:post_id=>post.id).count %>  
                    <input class="btn btn-default btn-md" onclick="change(<%= User.find(session[:user_id]).id %>,<%= post.id %>,<%= index %>)" type="button" value="<%= stat %>" id="like_button<%= index %>" ><span class="badge badge-success"><%= count %></span></input>
                  <% end %>  
                  </div>
                </div>
          </div>
        </div> <% end %>
    </div>
<div class="row"> 
    <div class="col-xs-2"></div>
    
    <% if !session[:user_id].nil? %>
    <div class="span3 col-xs-4">
     <div class="side-bar"> 
           <div class="ls_profile ls_blue">
               <div> 
               <div class="col-xs-4">
                
               <% if User.find(session[:user_id]).avatar.present? %>
                  <% link = User.find(session[:user_id]).avatar.to_s.split('/').last %>
                  <% newlink = 'http://chashmeetsingh.com/iamprogrammer/user/avatar/'+User.find(session[:user_id]).id.to_s+'/'+link %>
                  <%= image_tag  newlink, size: '100x100', class: "img-responsive" %>
                <% else %>
                  <%= image_tag 'http://blog.skilledup.com/wp-content/authors/default.gif' , size: '100x100' %>
                <% end %>

                </div>
                <div class="col-xs-8 ls_profile_info">
                    <h3 class="size"><a class="img-responsive" style="color:white" href="/profile/<%= User.find(session[:user_id]).username %>"><%= User.find(session[:user_id]).username %></a></h3>
                    <p>Total Views : <%= User.find(session[:user_id]).views %></p>
                    
                    Total likes : <%= @likes %>
                </div>
           </div>
                <div class="clearfix"></div>
           </div>
       </div>
       <div class="fb-like" data-href="https://www.facebook.com/pages/I-am-Programmer/130346597300032" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div><br><br>
<a href="https://twitter.com/CChashmeetsingh" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @CChashmeetsingh</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script><br><br>
    </div>
    <% end %>

</div>    
